<center>
<h1>Welcome to nginx by Ansible, on port {{ nginx_port }} at host {{ ansible_hostname }}</h1>
<h2>My IP address is {{ ansible_enp0s8.ipv4.address }}</h2>
<h2>Using roles now, but not for the app.</h2>
</center>
